body{background-color: black;}
.card-footer .bt{
    margin-left: 680px;
}
.amou2{display: flex;}
.amou2 .dolar{
    margin-right: 4px;
}
.amou2 .dl{
    width: 100%;
}
#add{
    font-size: 11px;
    color: gray;
}
.tarjetas{
    margin-top: 5px;
    background-color: gray;
    width: 55%;
    border: 1px solid gray;
    border-radius: 3px;
    padding:4px;
}
button{
    margin:3px
}